# Byte-compiled / optimized / DLL files
__pycache__/
.vscode/
owl_system/__pycache__

# Folder
venv/

# Files
owl_system/test.py
owl_system/assets/Pasos manejo de archivos.md
owl_system/assets/004-2022-00023 (Pame-SALIÓ) impugnada.txt
owl_system/assets/chain_text_test00.ipynb
owl_system/assets/chain_text_test01.ipynb
owl_system/assets/Demo.gif