certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.10
numpy==1.23.5
pandas==1.5.2
pillow==11.0.0
psutil==5.9.5
pycryptodome==3.20.0
pypdf2==2.11.2
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
requests==2.32.3
Send2Trash==1.8.3
six==1.16.0
urllib3==2.2.3
xlwings==0.28.5
umami-analytics==0.2.20
