VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=(1, 4, 3, 0),
    prodvers=(1, 4, 3, 0),
    mask=0x3f,
    flags=0x0,
    OS=0x40004,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
  ),
  kids=[
    StringFileInfo([
      StringTable(
        u'040904B0', [
          StringStruct(u'CompanyName', u'Daniel Arbelaez Alvarez - HammerDev99'),
          StringStruct(u'FileDescription', u'Este proyecto fue desarrollado para automatizar una función administrativa, asistiendo las operaciones manuales que haría un empleado en la conformación del expediente electrónico.'),
          StringStruct(u'FileVersion', u'1.4.3.0'),
          StringStruct(u'InternalName', u'AgilEx by Marduk'),
          StringStruct(u'LegalCopyright', u'Daniel Arbelaez - Copyright © 2024. Licensed under the MIT License.'),
          StringStruct(u'OriginalFilename', u'GestionExpedienteElectronico_Version1.exe'),
          StringStruct(u'ProductName', u'AgilEx by Marduk'),
          StringStruct(u'ProductVersion', u'1.4.3.0'),
          StringStruct(u'Comments', u'')
        ]
      )
    ]),
    VarFileInfo([VarStruct(u'Translation', [0x0409, 0x04B0])])
  ]
)
